<%= link_to "#" do %>
  <div class="mt-4 h-56 rounded bg-cover bg-center font-semibold transform transition duration-500 hover:scale-105 sm:mt-0 xl:h-60" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),url('<%= cl_image_path list.image.key, height: 300, crop: :fill %>')">
    <span class="h-full w-full flex items-center justify-center text-white text-lg transform transition duration-500 hover:scale-125 sm:text-xl">
      <%= list.name %>
    </span>
  </div>
<% end %>
