<div class="relative mt-4 h-56 rounded bg-cover bg-center font-semibold sm:mt-0 xl:h-60" style="background-image: url('https://images.unsplash.com/photo-1572188863110-46d457c9234d')">
  <span class="absolute left-3 bottom-2 text-lg sm:text-xl"><%= list.name %></span>
</div>
