<div class="h-52 md:h-64 bg-cover bg-center flex items-center justify-center" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),url('<%= cl_image_path @list.image.key, crop: :fill %>')">
  <h1 class="text-3xl lg:text-4xl font-extrabold text-white"><%= @list.name %></h1>
</div>

<div class="container mx-auto my-14 px-5">
  <div class="flex justify-end">
    <%= link_to 'Add a movie', new_list_bookmark_path(@list), class: "py-2 px-4 text-sm text-white font-medium rounded bg-red-600 hover:bg-red-700" %>
  </div>

  <div class="mt-4 sm:grid sm:grid-cols-2 sm:gap-4 sm:mt-6 md:gap-6 lg:grid-cols-3 lg:gap-8 lg:mt-10">
    <%= render @list.movies %>
  </div>
</div>

