<div class="h-52 md:h-64 bg-cover bg-center flex items-center justify-center" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),url('<%= cl_image_path @list.image.key, crop: :fill %>')">
  <h1 class="text-3xl lg:text-4xl font-extrabold text-white"><%= @list.name %></h1>
</div>

<%= link_to 'Add a movie', new_list_bookmark_path(@list) %>

<ul>
  <% @list.movies.each do |movie| %>
    <li><%= movie.title %></li>
  <% end %>
</ul>
