<footer class="text-gray-500 font-light">
  <div class="px-4 py-3 flex items-center justify-between sm:px-8 sm:py-5">
    <div class="">
      <p>© 2022 Cataline Baert</p>
    </div>
    <div class="space-x-4 sm:space-x-8">
      <%= link_to "Github", "https://github.com/ctln12", class: "pb-1 hover:text-gray-800" %>
      <%= link_to "LinkedIn", "https://www.linkedin.com/in/catalinebaert/", class: "pb-1 hover:text-gray-800" %>
    </div>
  </div>
</footer>
